body {
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
}



header {
    display: grid;
    grid-template-columns: 1fr 35% 35%;
    grid-template-rows: auto;
    background: rgb(90, 255, 57);
    font-size: 30px;
    border-bottom: black 2px solid ;
}
.LOGO {
    text-align: center;
}
.LOGOO {
    background: rgb(0, 0, 0);
    color: white;
    display: inline-block;
    padding: 0px 40px;
    border-radius: 10px;
}
.TEMA {
    text-align: center;
}



main{
    display: grid;
    grid-template-columns: 1fr 50% 30%;
    grid-template-rows: auto;
}
nav {
    grid-column: 1/2;
    text-align: center;
    margin: 10% ;
    font-size: 22px;
}
main nav article {
    padding: 5%;
}
.HOME {
    display: block;
    color: rgb(0, 0, 0);
    transition: 1s;
    padding: 5px;
    background: rgb(255, 227, 194);
}
.ANDRES {
    display: block;
    color: rgb(0, 0, 0);
    transition: 1s;
    padding: 5px;
    background: rgb(255, 227, 194);
}
.HOME:hover,.ANDRES:hover {
    color: rgb(232, 252, 255);
    background: #000;
    border-radius: 10px;
}
.FORBILDER {
    margin-top: 7%;
}
.FORVIDEO {
    margin-top: 12%;
}




footer {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    background: #000;
    color: white;
}




a {
    text-decoration: none;
}



@media (max-width:950px){
    main{
        grid-template-columns: 1fr 70%;
    }
    .FORBILDER{
        width: 100%;
    }
    .FORVIDEO{
        width: 100%;
        grid-column: 2/3;
    }
}
