body {
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
}



header {
    display: grid;
    grid-template-columns: 1fr 35% 35%;
    grid-template-rows: auto;
    background: rgb(90, 255, 57);
    font-size: 30px;
    border-bottom: black 2px solid ;
}
.LOGO {
    text-align: center;
}
.LOGOO {
    background: rgb(0, 0, 0);
    color: white;
    display: inline-block;
    padding: 0px 40px;
    border-radius: 10px;
}
.TEMA {
    text-align: center;
}



main{
    display: grid;
    grid-template-columns: 1fr 35% 45%;
    grid-template-rows: auto;
}
nav {
    grid-column: 1/2;
    text-align: center;
    margin: 10% ;
    font-size: 22px;
}
main nav article {
    padding: 5%;
}
.HOME {
    display: block;
    color: rgb(0, 0, 0);
    transition: 1s;
    padding: 5px;
    background: rgb(255, 227, 194);
}
.ANDRES {
    display: block;
    color: rgb(0, 0, 0);
    transition: 1s;
    padding: 5px;
    background: rgb(255, 227, 194);
}
.HOME:hover,.ANDRES:hover {
    color: rgb(232, 252, 255);
    background: #000;
    border-radius: 10px;
}
.OMTEMA {
    text-align: left;
    font-size: 18px;
    background-color: rgb(194, 236, 255);
    border-left: 2px solid black;
}
main article p {
    margin: 7%;
}
.BILDER {
    text-align: center;
    background: #000;
    background-color: rgb(194, 236, 255);
}



footer {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    background: #000;
    color: white;
}




a {
    text-decoration: none;
}
